<div class="panel panel-info">
    <div class="panel-heading">
        <h2>
            {{#link-to 'vendas' active=false}}
            <i class="fa fa-angle-left"></i>{{/link-to}}
            <i class="fa fa-building-o"></i>
            {{#if model.isNew}} Nova Venda {{else}} Editar Venda {{/if}}
        </h2>
    </div>
    <div class="panel-body">
        {{#bs-form model=model action="submit" as |form|}}
        <div class="row">
            <div class="col-sm-6">
                <label>
                    Data da compra
                </label>
                <div class="form-group">
                    {{pikaday-input class="form-control" value=dataCompra onSelection=(action 'setDataCompraSelection') format='DD/MM/YYYY' placeholder="Data
                    da compra"}}
                </div>
            </div>
            <div class="col-sm-6">
                {{#if serverErrors.dataCompra}}
                <div class="form-group has-error">
                    {{#each serverErrors.dataCompra.errors as |errorMessage|}}
                    <label class="control-label" for="inputError">{{errorMessage}}</label>
                    <br/> {{/each}}
                </div>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        {{form.element label="Valor" placeholder="Valor" property="valor"}}
                    </div>
                    <div class="col-sm-12">
                        {{#if serverErrors.valor}}
                        <div class="form-group has-error">
                            {{#each serverErrors.valor.errors as |errorMessage|}}
                            <label class="control-label" for="inputError">{{errorMessage}}</label>
                            <br/> {{/each}}
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        {{form.element label="Comissão" placeholder="Comissão" property="comissao"}}
                    </div>
                    <div class="col-sm-12">
                        {{#if serverErrors.comissao}}
                        <div class="form-group has-error">
                            {{#each serverErrors.comissao.errors as |errorMessage|}}
                            <label class="control-label" for="inputError">{{errorMessage}}</label>
                            <br/> {{/each}}
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class=" control-label">Selecione o cliente:</label>
                            {{#power-select options=clienteList selected=cliente onchange=(action 'setClienteSelection') as |cliente| }} {{cliente.nome}}
                            {{/power-select}}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        {{#if serverErrors.cliente}}
                        <div class="form-group has-error">
                            {{#each serverErrors.cliente.errors as |errorMessage|}}
                            <label class="control-label" for="inputError">{{errorMessage}}</label>
                            <br/> {{/each}}
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class=" control-label">Selecione a empresa:</label>
                            {{#power-select class="form-control" options=empresaList selected=empresa onchange=(action 'setEmpresaSelection') as |empresa|
                            }} {{empresa.nome}} {{/power-select}}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        {{#if serverErrors.empresa}}
                        <div class="form-group has-error">
                            {{#each serverErrors.empresa.errors as |errorMessage|}}
                            <label class="control-label" for="inputError">{{errorMessage}}</label>
                            <br/> {{/each}}
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/bs-form}}
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button class="btn btn-success" {{action "submit"}}>Salvar</button>
            </div>
        </div>
    </div>
</div>