<div class="panel panel-info">
    <div class="panel-heading">
        <h2>
            <i class="fa fa-building-o"></i>
            Vendas
            <span class="pull-right">
                {{#link-to 'vendas.nova'}}<i class="fa fa-plus"></i>{{/link-to}}
            </span>
        </h2>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Data Compra</th>
                    <th>Valor</th>
                    <th>Comissão</th>
                    <th>Cliente</th>
                    <th>Empresa</th>
                    <th class="actions"></th>
                </tr>
            </thead>
            <tbody>
                {{#each model as |venda|}}
                <tr>
                    <td>{{venda.dataCompra}}</td>
                    <td>{{venda.valor}}</td>
                    <td>{{venda.comissao}}</td>
                    <td>{{venda.comissao}}</td>
                    <td>{{venda.id}}</td>
                    <td>
                        {{#link-to 'vendas.editar' venda.id class='btn btn-sm btn-default' active=false}}<i class="fa fa-pencil"></i>{{/link-to}}
                        <button {{action 'remove' venda}} class='btn btn-sm btn-danger' active=false}}><i class="fa fa-times"></i></button>
                    </td>
                </tr>
                {{else}}
                <tr class="empty text-center">
                    <td colspan="5">Nenhuma venda foi encontrada.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>